<div class="container mt-5">


    <div class="card-columns">

        <div *ngFor="let item of listMedia">
            <div class="card">
                <div class="card-body text-center">
                    <i *ngIf="item.activo" [class]="item.icon"></i>
                    <h5 class="card-title">{{item.nombre}}</h5>
                    <p class="card-text">{{item.text}}</p>
                    <button *ngIf="item.activo" class="btn btn-primary" (click)="item.activo = !item.activo">Ocultar</button>
                    <button *ngIf="!item.activo" class="btn btn-success" (click)="item.activo = !item.activo">Mostrar</button>
                    <p class="card-text"><small>fsdfsd</small></p>
                </div>
            </div>
        </div>


    </div>


</div>